<div class="row">
  <div class="col-md-12">
    <h4>
      <p>Click here to choose what u want in your json</p>
      <a id="id-label" class="label label-default">Id</a>
      <a id="url-label" class="label label-default">Url</a>
      <a id="categories-label" class="label label-default">Categories</a>
      <a id="price-label" class="label label-default">Price</a>
      <a id="old-price-label" class="label label-default">Old Price</a>
      <a id="voltagem-label" class="label label-default">Voltagem</a>
    </h4>
  </div>
</div>
