<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="terminator" > <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Terminator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./app.css">
  </head>

  <body id="home" ng-controller="sheetsUrlController">

    <div ng-include="'partials/nav/nav.html'"></div>

    <div class="container">
        <form novalidate id="api-key-input" class="col-md-12 form-inline" >
            <div class="form-group col-md-12 row">
                <div class="col-md-9 col-xs-9">
                    <input id="api-key" ng-disabled="apiKeyDisable" class="form-control" type="text" ng-model="googleSheetsUrl" placeholder="Cole aqui a url de publicação da sua planilha"/>
                </div>
                <div class="col-md-3 col-xs-3">
                    <a ng-show="googleSheetsUrlRestErrorSignVisible" class="btn btn-danger disabled"><span class="glyphicon glyphicon-globe"></span></a>
                    <a ng-show="googleSheetsUrlInvalidErrorSignVisible" class="btn btn-danger disabled"><span class="glyphicon glyphicon-remove"></span></a>
                    <input id="api-send-button" ng-show="apiKeySendButtonVisible" type="button" class="btn btn-success" value="fetch" ng-click="saveUrl()">
                </div>
                <div ng-show="googleSheetsUrlValidSignVisible" class="col-md-3 col-xs-3">
                    <a class="btn btn-success disabled"><span class="glyphicon glyphicon-ok"></span></a>
                    <a class="btn btn-primary" ng-click="editUrl()" ><span class="glyphicon glyphicon-edit"></span></a>
                </div>

            </div>
        </form>
    </div>

    <div class="container">
      <div ng-bind-html="errors"></div>
      <div ng-bind-html="alerts"></div>
    </div>

    <hr class="col-md-12"/>

    <div ng-if="devToolsVisible" ng-include="'partials/jsonInspector/jsonInspector.html'"></div>
    <div ng-if="devToolsVisible" ng-include="'partials/jsonInspector/jsonInspector.html'"></div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>

    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <script src="app.js"></script>
    <script src="download/beforeCurrent.js"></script>
    <script src="partials/jsonInspector/jsonInspector.js"></script>
    <script src="partials/jsonInspector/jsonTextInspector/jsonTextInspector.js"></script>
    <script src="partials/jsonInspector/jsonMapInspector/jsonMapInspector.js"></script>
    <script src="partials/jsonInspector/jsonTableInspector/jsonTableInspector.js"></script>

    </script>
  </body>
</html>
