<div class="col-md-6 json-inspect hidden-sm hidden-xs">

  <div ng-controller="ButtonsCtrl">
    <div class="btn-group">
        <label class="btn btn-default" ng-model="radioModel" btn-radio="'table'">Table</label>
        <label class="btn btn-default" ng-model="radioModel" btn-radio="'map'">Map</label>
        <label class="btn btn-default" ng-model="radioModel" btn-radio="'form'">Form</label>
        <label class="btn btn-default" ng-model="radioModel" btn-radio="'text'">Text</label>
    </div>

    <div ng-switch="radioModel">
      <div ng-switch-when="table"><div ng-include="'partials/jsonInspector/jsonTableInspector/jsonTableInspector.html'"></div></div>
      <div ng-switch-when="map"><div ng-include="'partials/jsonInspector/jsonMapInspector/jsonMapInspector.html'"></div></div>
      <div ng-switch-when="form"><div ng-include="'partials/jsonInspector/jsonFormInspector/jsonFormInspector.html'"></div></div>
      <div ng-switch-when="text"><div ng-include="'partials/jsonInspector/jsonTextInspector/jsonTextInspector.html'"></div></div>
    </div>
  </div>



</div>
